.custom-badge .mat-badge-content {
  width: 24px;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}

.custom-badge .mat-icon {
  font-size: 32px;
  width: 32px;
  height: 32px;
}

.mat-menu {
  min-width: 200px;
}

.mat-menu-item {
  display: flex;
  align-items: center;
  :hover {
    background-color: #908c8c;
  }
}
