<h1>
  Hello! I'm a Junior Full-Stack Developer with a passion for solving problems
  and creating efficient, scalable applications. I have experience working with
  a variety of technologies including C#, SQL, MongoDB, React, and Angular
  (TypeScript/JavaScript). I'm always excited to learn new technologies and take
  on new challenges. I enjoy coding because it allows me to tackle complex
  problems and come up with innovative solutions. I am fluent in Ukrainian,
  Swedish, English, and Russian, which helps me communicate effectively in
  diverse environments. Feel free to check out my work on
  https://github.com/AntonKozak and connect with me on
  https://www.linkedin.com/in/anton-kozak-004584a2/!
</h1>
